<mat-form-field>
  List length:
  <input matInput [(ngModel)]="length">
</mat-form-field>

<mat-form-field>
  Page size:
  <input matInput [(ngModel)]="pageSize">
</mat-form-field>
<mat-form-field>
  Page size options:
  <input matInput
         [ngModel]="pageSizeOptions"
         (ngModelChange)="setPageSizeOptions($event)">
</mat-form-field>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = getPaginatorData($event)">
</mat-paginator>

<div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>

<h2>Слова языка</h2>

<!-- <div>
  <div>
    <label>Наименование:
      <input #languageName />
    </label>
  </div>
  <div>
    <label>Описание:
      <input #languageDescription />
    </label>
  </div>-->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(languageName.value, languageDescription.value); languageName.value=''; languageDescription.value=''">
    Добавить
  </button>
</div> -->

<ul class="languageWords">
  <li *ngFor="let word of wordsResponse.words">
    <a routerLink="/words/{{word.id}}/">
      <span class="badge">{{word.id}}</span> {{word.name}}
    </a>
    <button class="delete" title="delete word"
        (click)="delete(word)">x</button>
  </li>
</ul>